#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.title {
    display: flex;
    flex-direction: column;
    place-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    text-align: left;
    place-items: center;
    gap: 20px;
    max-width: 400px;
}
